.nav-bar {
  height: 50px;
  background-color: rgb(255, 205, 1);
  display: flex;
}

.nav-bar.dark {
  background-color: var(--darkyellow);
}

.left-inner-nav {
  width: 10%;
}

.inner-nav-bar {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  height: 100%;
   margin: 10px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links.dark {
  color: black;
}

.user-button {
  display: flex;
  align-items: center;
}

.nav-logout {
  height: 65%;
  width: 90px;
  border-radius: 4px;
  margin: 25px;
  font-size: 15px;
}

.nav-logout.dark {
  background-color: var(--black);
  color: var(--darkyellow);
}

.nav-logout:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.nav-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-title.dark {
  color: black;
}

.current-user {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.current-user.dark {
  color: black;
}

.nav-reviews {
  margin: 80px;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink.dark {
  color: black;
}

.nav-dropdown {
  position: relative;
  background-color: rgb(22, 21, 21);
  height: 100px;
  width: 100px;
  top: 35px;
  left: -195px;
}

.fa-user-circle {
  margin-right: 10px;
}
