.index-main {
  background-color: rgb(246, 242, 232);
  display: flex;
  justify-content: center;
}

.index-form-main {
  margin-top: 25px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.index-title {
  font-size: 35px;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.index-div {
  height: 1px;
  background-color: grey;
  width: 90%;
  margin-bottom: 30px;
}

.index-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.index-description {
  font-size: 19px;
  font-weight: 400;
  align-items: center;
}

.index-item-div {
  height: 1px;
  background-color: lightgrey;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc-box {
  align-items: center;
  padding: 0 100px;
}

.edit-delete {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.index-buttons {
  width: 110px;
  border-radius: 4px;
  font-size: 15px;
  background-color: rgb(255, 205, 1);
  color: white;
  font-weight: bold;
  margin: 5px;
}

.index-buttons:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.index-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-form-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 130px;
  border-radius: 3px;
  margin-left: 50px;
  height: 35px;
  background-color: rgb(255, 205, 1);
}

.add:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.beer-index-pic {
  width: 150px;
  height: 225px;
  object-fit: contain;
}

.index-name {
  font-size: 22px;
  color: rgb(233, 160, 3);
}

.index-abv {
  font-size: 18px;
}

.index-ibus {
  font-size: 18px;
}

.index-rating {
  font-size: 18px;
}

.index-style {
  font-size: 18px;
}

.description-title {
  color: rgb(233, 160, 3);
  font-size: 20px;
}

.description-box {
  display: flex;
  flex-direction: column;
}

.index-middle {
  display: flex;
  justify-content: center;
}

.index-review {
  width: 170px;
  height: 30px;
  border-radius: 4px;
  font-size: 17px;
  background-color: rgb(255, 205, 1);
  color: white;
  font-weight: bold;
  margin: 5px;
}

.index-review:hover {
  cursor: pointer;
  filter: brightness(85%);
}