.review-outer-main {
  background-color: rgb(246, 242, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-inner-main {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-width: 600px;
  max-width: 800px;
}

.review-inner-outer {
  display: flex;
}

.reviews-index-title {
  display: flex;
  align-content: center;
  background-color: white;
  padding: 20px 40px;
  font-size: 25px;
  color: rgb(233, 160, 3);
}

.indv-review-name {
  font-size: 22px;
  color: rgb(233, 160, 3);
  margin-right: 7px;
}

.indv-review-header {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.indv-review-beer {
  margin-left: 7px;
  font-size: 22px;
  color: rgb(233, 160, 3);
}

.indv-review-bottom {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 2px;
}

.review-stars {
  width: 35px;
  object-fit: contain;
}

.indv-review-body {
  font-size: 18px;
}
