.form-main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("../../../assets/images/Fort-Point-Beer-Golden-Gate-Bridge21-550x364.jpg")
}
.login-form-container {
  height: 400px;
  width: 375px;
  background-color: white;
  margin: auto;
}