.form-main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), image-url("beer.jpg");
}
.login-form-container {
  height: 450px;
  width: 375px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login-title {
  color: rgb(49, 49, 49);
  margin-left: 70px;
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.login-subtitle {
  color: darkgray;
  margin-left: 130px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.login-input {
  margin-left: 5px;
  width: 210px;
  height: 25px;
  background-color:rgb(233, 240, 254);
}

.login-form {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.session-submit {
  background-color: rgb(255, 192, 4);
  width: 252px;
  height: 40px;
  margin-right: 40px;
  margin-top: 15px;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.session-submit:hover {
  filter: brightness(85%);
}

.login-username {
  border: 1px solid lightgray;
  margin-right: 57px;
  padding: 5px;
  border-radius: 3px;
}

.login-password {
  border: 1px solid lightgray;
  margin-right: 57px;
  padding: 5px;
  border-radius: 3px;
}

.grey-div {
  height: 1px;
  width: 200px;
  background-color: lightgray;
  margin-left: 85px;
  margin-top: 20px;
}

.login-text {
  color: grey;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 75px;
}

.login-link {
  margin-left: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.signup-form-container {
  height: 625px;
  width: 400px;
  background-color: white;
  margin: auto;
}

.signup-title {
  color: rgb(49, 49, 49);
  margin-left: 90px;
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.signup-subtitle {
  color: darkgray;
  margin-left: 145px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.disclaimer {
  margin-top: 3px;
  font-size: 9px;
  margin-right: 70px;
}

.safety {
  font-size: 12px;
  margin-right: 70px;
}

.required {
  font-size: 12px;
  margin-left: 55px;
}

.demo-user {
  background-color: blue;
  width: 252px;
  height: 40px;
  margin-right: 40px;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.demo-user:hover {
  filter: brightness(65%);
  cursor: pointer;
}


.signup-demo-user {
  background-color: blue;
  width: 252px;
  height: 40px;
  margin-top: 5px;
  margin-left: 65px;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.signup-demo-user:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.signup-password {
  border: 1px solid lightgray;
  margin-right: 80px;
  padding: 5px;
  border-radius: 3px;
}

.signup-username {
  border: 1px solid lightgray;
  margin-right: 80px;
  padding: 5px;
  border-radius: 3px;
}

.signup-email {
  border: 1px solid lightgray;
  margin-right: 80px;
  padding: 5px;
  border-radius: 3px;
}

.signup-input {
  margin-left: 5px;
  width: 210px;
  height: 25px;
}

.errors {
  color: red;
  // margin-left: 55px;

}

.errors-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}