.user-profile-main {
  min-height: 100vh;
  background-color:rgb(246, 242, 232);
  display: flex;
  flex-direction: column;
}

.user-profile-reviews {
  width: 60%;
  margin-left: 10%;

  &-title {
    background-color: white;
    font-size: larger;
    font-weight: 900;
    width: 19%;
    margin: 5% 30% 0 ;
  }
}

.user-profile-info {
  background-color: rgba(197, 194, 194, .35);
  border-radius: 10px;
  padding: 0 .5%;
}

.cover-photo-container {
  height: 350px;
  width: 70%;
  background-image: image-url("cover.jpg");
  margin: 0 auto;
  background-size: cover;
  color: white;
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2%;
}

.user-profile-body {
  display: flex;
}

.user-friends {
  width: 25%;
  height: 100%;
  background-color: white;
  margin-top: 1.5%;
  margin-right: 10%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: 400;
  text-decoration: underline;
}

